/*Global Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button,label,input {
  font-size: 2rem;
}

h2 {
  font-size: 5rem;
}
h3 {
  font-size: 5rem;
}
img {
 width: 100%;
}


body  {
font-family: 'Poppins', sans-serif;
background: black;
color: white;
}

/* Nav Section With Hero */

.main-head {
  color: white;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.9), transparent),url("images/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
} 

nav {
  display: flex;
  flex: 1 1 40rem;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex: 1 1 40rem;
}

.logo img {
  width: 160px;
  height: 100px;
}

.selector {
  background: black;
  border: none;
  color: white;
  outline: none;
  overflow: hidden;
}

option { 
  background-color: #666;
}

#language {
  color: white;
  background: transparent;
}

.dropdown {
  border: 1px solid white; 
  padding: 0.80rem 1.5rem;
  margin-right: 2%;
  font-size: 1.3rem;
}

.sign-in {
  background-color: #e50914;
  border: 1px solid #e50914;
  color: white;
  border-radius: 0.30rem;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.80rem 1.5rem;
  cursor: pointer;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
}

.text-content h1 {
  font-size: 6rem;
}

.top {
  font-size: 2.5rem;
  padding-bottom: 2.0rem;
}

.bottom {
  font-size: 1.8rem;
  padding-bottom: 2rem;
}
.form-1 {
  display: flex;
}

.form-1 input {
  height: 8vh;
  width: 500px;
  font-size: 1.5rem;
  outline: none;
  color: #666666;
  padding: 1rem;
}
.form-1 input text {
  margin-left: 3%;
  padding: 1rem 1rem;
  font-weight: 600;
}

.items {
  display: flex;
  padding: 0 2rem 0 2rem;
  background: #e50914;
  cursor: pointer;
  border: 2px solid #4b0004;
}

.get-started {
  margin-right: 1rem;
  background: #e50914;
  color: white;
  border: none;
  cursor: pointer;
  height: 65px;
  width: 230px;
}

.items i {
  display: flex;
  align-items: center;
  background: #e50914;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

hr {
  height: 10px;
  font-weight: bold;
  border: none;
  background: #222;
}
.enjoy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  margin: auto 300px;
  paddint-top: 20px;
}

.enjoy-text {
  max-width: 600px;
  width: 100%;
}

.enjoy-text h1 {
  font-size: 47px;
  font-weight: 600;
}

.enjoy-text p {
  margin-top: 10px;
  font-size: 25px;
  line-height: 35px;
}
.enjoy-img {
  width: 500px;
  padding-top: 20px;
  opacity: 0.6;
}
.final {
  width: 100%;
  height: 100vh;
}

.final form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px;
  margin-bottom: 4px;
}

.final input {
  margin-bottom: 20px;
  padding: 1rem;
  width: 550px;
  color: #666666;
}

.final p {
  margin-bottom: 30px;
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
}

.final .sbt {
  background: #e50914;
  color: #fff;
  width: 550px;
  height: 50px;
  font-size: 3rem;
  padding: 1rem 0 1rem 0;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
#text {
  display: block;
  color: #000;
  font-weight: 300;
  font-style:italic;
  padding: 5px;
}

#form .inputBox {
  position: relative;
}
#form.invalid #inputBox:before {
  content: '';
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  z-index: 1000;
}