/*Global Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button,label,input {
  font-size: 2rem;
}

h2 {
  font-size: 5rem;
}
h3 {
  font-size: 5rem;
}
img {
 width: 100%;
}


body  {
font-family: 'Poppins', sans-serif;
background: black;
color: white;
}

/* Nav Section With Hero */

.main {
  color: white;
  max-width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.9), transparent),url("images/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
} 

nav {
  display: flex;
  flex: 1 1 40rem;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex: 1 1;
}

.logo img {
  width: 160px;
  height: 100px;
}

.selector {
  background: black;
  border: none;
  color: white;
  outline: none;
}

option { 
  background-color: #666;
}

#language {
  color: white;
  background: transparent;
}

.dropdown {
  border: 1px solid white; 
  padding: 0.80rem 1.5rem;
  margin-right: 2%;
  font-size: 1.3rem;
}

.sign-in {
  background-color: #e50914;
  border: 1px solid #e50914;
  color: white;
  border-radius: 0.30rem;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.80rem 1.5rem;
  cursor: pointer;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
}

.text-content h1 {
  font-size: 6rem;
}

.top {
  font-size: 2.5rem;
  padding-bottom: 2.0rem;
}

.bottom {
  font-size: 1.8rem;
  padding-bottom: 2rem;
}
.form-1 {
  display: flex;
  align-content: center;
}
.form-1 input {
  height: 70px;
  width: 500px;
  font-size: 1.5rem;
  outline: none;
  color: #666666;
  padding: 1rem;
}
.form-1 input text {
  margin-left: 3%;
  padding: 1rem 1rem;
  font-weight: 600;
}
.items {
  display: flex;
  padding: 0 2rem 0 2rem;
  background: #e50914;
  cursor: pointer;
  border: 2px solid #4b0004;
}

.get-started {
  margin-right: 1rem;
  background: #e50914;
  color: white;
  border: none;
  cursor: pointer;
  height: 68px;
  width: 250px;
  font-size: 3rem;
  border-radius: 3px;
  font-weight: 500;
}

.items  {
  display: flex;
  align-items: center;
  background: #e50914;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

hr {
  height: 10px;
  font-weight: bold;
  border: none;
  background: #222;
}

/* Section 1 */

.enjoy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 450px;
  margin: auto 40rem;
}

.enjoy-text {
  max-width: 600px;
  width: 100%;
}

.enjoy-text h1 {
  font-size: 4rem;
  font-weight: 600;
}

.enjoy-text p {
  margin-top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
}
.enjoy-img {
  width: 500px;
  padding-top: 4rem;
  opacity: 0.6;
}
/* Section 2 */

.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 450px;
  margin: auto 40rem;
  max-width: 100%;
}

.mobile-img {
  width: 600px;
  padding-top: 4rem;
}
.download-text {
  width: 600px;
}

.download-text h1 {
  font-size: 4rem;
  font-weight: 600;
}

.download-text p {
  margin-top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
}

/* Section 3 */

.freq {
  padding: 4rem 3rem;
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faqs {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px;
  cursor: pointer;
}

.freq h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

/* Section 4 */

.final {
  width: 100%;
  min-height: 100vh;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.final p {
  margin-bottom: 30px;
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
}

.final .sbt {
  background: #e50914;
  color: white;
  width: 550px;
  height: 50px;
  font-size: 3rem;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.form-action {
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  position: relative;
}

.form-action input {
  border-radius: 3px;
  margin-bottom: 3rem;
  padding: 1rem;
  width: 550px;
  color: #666666;
}

.form-action .success input {
  border-color: #2ecc71;
}

.form-action .error input {
  border-color: #e74c3c;
}

.form-action i {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
}

.form-action.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-action.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-action small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  font-size: 2rem;
  font-style: italic;
}

.form-action.error small {
  visibility: visible;
}

/* Media */






